.portfolio-heading {
  padding: 2em 0 1em;
  text-transform: uppercase;
}

.portfolio {
  @extend %fillparent;

  padding-bottom: 2em;
  background-image:url('../Images/IMG_20170522_161738.jpg');
  background-attachment: fixed;
  // background: #{$portfolio-background};
  box-shadow: 
        inset 0px 11px 8px -9px rgba(0,0,0,0.75),
        inset 0px -11px 8px -9px rgba(0,0,0,0.75);
  ul {
    list-style-type: none;
  }

  @include desktop {
    display: inline-block;
    width: 100%;
  }
}

.portfolio-gallery {
  ul {
    @extend %zeropadding;

    @extend %centered;

    @include tablet {
      display: grid;
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
      grid-column-gap: 20px;
      margin: 0 auto;
      text-align: center;
    }
@include desktop {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
      grid-column-gap: 20px;
      margin: 0 auto;
      text-align: center;
    }


    li {
      @include tablet {
        float: left;
        width: 100%;
        min-height: 425px;
        padding: 0;
      }


      @include desktop {
        @include widthMargin(100%, 0 0 10px) {}
        padding: 0;
      }
    }


    li a:link,
    li a:visited {
      color: #{$portfolio-caption};
    }
  }

  @include tablet {
    @include widthMargin(92%, 0 auto) {}
  }
}

.portfolio-gallery
.portfolio-image {
  max-width: 90%;
  box-shadow: #{$portfolio-image-shadow};
  border-radius: 10px 10px 10px 10px;
  border: 1px solid gray;

  @include tablet {
    width: 100%;
  }
}

.portfolio-title {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 20px;
  color: #{$portfolio-title};
  text-shadow: -1px 0px 0px #FFFFFF;
}

.portfolio-caption {
  text-shadow: -1px 0px 0px #FFFFFF;
  @include tablet {
    @include widthMargin(80%, 0 auto) {}
  }
}

#search {
  border-radius: 5px;
  margin: 0 0 20px 0;
  text-indent: 10px;
  font-family: #{$body-font};
}

input:focus, textarea:focus {
  outline: none;
}

/*                         SUPPORTING EDGE CODE          ************************/
@supports (-ms-ime-align: auto) {
   /* Microsoft EdgeV13&14 CSS styles go here */
  
    .portfolio-heading {
  padding: 2em 0 1em;
  text-transform: uppercase;
}

.portfolio {
  ul {
    list-style-type: none;
  }

  @include desktop {
    display: inline-block;
    max-width: 100%;
  }
}

.portfolio-gallery {
  ul {

    @include tablet {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }


    li {
      @include tablet {
        float: left;
        max-width: 48%;
        min-height: 425px;
        padding: 0;
      }


      @include desktop {
        @include widthMargin(31.3333%, 0 0 10px) {}


        float: left;
        padding: 0;
      }
    }

    li:nth-child(odd) {
      @include tablet {
        margin-right: 4%;
      }


      @include desktop {
        margin-right: 0;
      }
    }

    li:nth-child(3n+2) {
      @include desktop {
        margin-right: 3%;
        margin-left: 3%;
      }
    }

    li a:link,
    li a:visited {
      color: #{$portfolio-caption};
    }
  }

  @include tablet {
    @include widthMargin(92%, 0 auto) {}
  }
}

.portfolio-gallery
.portfolio-image {
  max-width: 90%;
  box-shadow: #{$portfolio-image-shadow};

  @include tablet {
    max-width: 100%;
  }
}

.portfolio-title {
  padding-top: 0;
  padding-bottom: 0;
  color: #{$portfolio-title};
}

.portfolio-caption {
  @include tablet {
    @include widthMargin(80%, 0 auto) {}
  }
}

  }
        