/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  @extend %centered;

  @extend %zeropadding;

  font-family: #{$body-font};
  background: #{$body-background};

  a {
    text-decoration: none;
  }
}

.clearfix:after {
  /* Older browser do not support empty content */
  display: table;
  clear: both;
  content: ' ';
}
