//Colors
$body-background:#e1e0e5;
$nav-text: black;
$nav-background-phone: silver;
$nav-background-tab-desk: #e1e0e5;
$profile-background-text: gray;
$portfolio-title: black;
$portfolio-caption: #131516;
$portfolio-background: white;
$footer-nav-text: black;
$contact-text: darkgray;
$contact-links: gray;
$button-text: white;
$dropdown-text: black;
$dropdown-background: rgba(229,229,229,.7);
$dropdown-hover: #F1F1f1;
$portfolio-caption-background: rgba(229,229,229,.7);

//Font Family
$body-font: "Roboto", sans-serif;

//Font Size
$background-text-tab: x-large;
$button-font-size: 16px;

//Box Shadows
$portfolio-image-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.32);

//Media Q's
$tablet-width: 768px;
$desktop-width: 1024px;
